* {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;

    .progress-bar {
        position: fixed;
        width: 100%;
        height: 1vh;
    }

    filled {
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to right, #5221E6);
    }
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: .5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(53, 53, 53);
}

a {
    display: block;
    text-decoration: white;
    color: white;
    background-color: transparent;
}

.contact {
    background-color: #5221e6;
}

.navcenter .contact {
    color: white;
    font-weight: 500;
}

.blackbox {
    height: 750px;
    width: 36%;
    background-color: black;
    position: relative;
    z-index: 1000;
}

.greybox {
    height: 750px;
    width: 70%;
    background-color: #222235;
    position: relative;
}

.boxz {
    display: flex;
    flex-wrap: wrap;
}

.navbar {
    margin: 0px;
    display: flex;
    background-color: transparent;
    top: 0px;
    z-index: 100;
}

.boxz img {
    margin: 20px;
    height: 100px;
    width: auto;
    padding-left: 50px;
    position: absolute;
    z-index: 1000;
}

.navcenter {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20%;
}

.navcenter a {
    padding: 30px;
    size: 30px;
    color: rgb(171, 171, 172);
    font-weight: 450;
}

.navcenter .trans {
    height: auto;
    width: 350px;
}

.navcenter a:hover {
    color: #21d9e6;
    transition-delay: 200ms;
}

.navcenter .contact:hover {
    background-color: #16044d;
    color: white;
    transition-delay: 120ms;
}

.me img {
    position: absolute;
    height: 450px;
    width: 650px;
    margin-top: 55%;
    z-index: 1;
}

.intro {
    position: relative;
    z-index: 2000;
    padding-left: 10%;
    padding-right: 10%;
}

.intro h2 {
    position: relative;
    margin-top: 30%;
    color: white;
    font-size: 70px;
    z-index: 2;
}

.intro span {
    color: rgb(171, 171, 172);
}

.intro p {
    margin-top: 30px;
    color: rgb(202, 221, 221);
    font-size: 18px;
    text-align: left;
    font-weight: 450;
}

.experience {
    background: #000;
    padding-top: 200px;
    padding-left: 70px;
}

.heading p {
    color: #8491a0;
    font-weight: 450;
}

.heading h3 {
    color: white;
    font-size: 55px;
}

.expertise {
    display: flex;
    gap: 70px;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 1;
}

.expertise h2 {
    padding-top: 20px;
    color: #8491a0;
    font-size: 100px;
    font-weight: 400;
}

.expertise p1 {
    color: #fefefe;
    font-size: 25px;
    font-weight: 600;
}

.expertise span1 {
    color: #2e9a3c;
}

.expertise span2 {
    color: #5081d5;
}

.expertise span3 {
    color: #dc5888;
}

.expertise p2 {
    color: #d8d8d8;
}

.philosophy {
    padding-top: 200px;
    height: 95vh;
    background: #000;
    display: flex;
}

.textpart {
    background-color: #fff3e4;
    padding: 100px 60px 0px 60px;

}

.textpart h2 {
    font-size: 55px;
    font-weight: 500;
}

.textpart p {
    font-size: 20px;
    font-weight: 400;
    color: #475158;
    line-height: 1.6;
    padding-bottom: 80px;
}

.imgpart img {
    height: 95vh;
    width: 45vw;
}

.textpart a {
    color: black;
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid #989c9f;
    width: fit-content;
    text-align: left;
}

.textpart a:hover {
    background-color: #5221e6;
    transition-duration: 300ms;
    color: white;
    padding: 10px 20px 10px 20px;
}

.skillset {
    padding-top: 100px;
    padding-left: 60px;
    background-color: #000000;
    display: flex;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 120px;
    padding: 60px;
}

.box {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 40%;
    height: auto;
}

.maintext {
    width: 170%;
    padding-right: 0px;
}

.maintext h2 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    padding-top: 60px;
}

.maintext p {
    font-size: 18px;
    padding-right: 20px;
    text-align: left;
    line-height: 1.5;
    font-weight: 400;
    color: #7e8d9e;
}

.box img {
    margin: 5px;
    height: auto;
    width: 40px;
}

.box h2 {
    color: white;
}

.box p {
    color: #7e8d9e;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1;
    font-weight: 400;
}

.box:hover {
    margin-bottom: 35px;

    img {
        margin: 0px;
        width: 45px;
        height: auto;
    }
}

.projects {
    padding-top: 100px;
    background-color: #000;
    padding-left: 50px;
    gap: 20px;
    display: flex;
    justify-content: center;
}

.heading1 p {
    color: #7e8d9e;
    font-size: 14px;
    font-weight: 500;
}

.heading1 {
    color: white;
    font-size: 40px;
    padding-bottom: 40px;
    width: 590px;
}

.box1 {
    background-color: #181823;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-bottom: 20px;
}



.box1 img {
    height: 400px;
    width: 600px;
    padding-bottom: 20px;
}

.box2 {
    padding: 20px 10px;
    line-height: 1.5;
    word-spacing: 0.7px;
}

.box2 h2 {
    color: white;
    padding-left: 10px;
    font-size: 24px;
}

.box2 p {
    padding: 10px;
    color: #7e8d9e;
    padding-bottom: 30px;
    font-size: 18px;
}

.last {
    padding-top: 5%;
    padding-left: 25%;
}

.last a {
    border: 1px solid #5221e6;
    width: fit-content;
    font-weight: 700;
    padding: 20px;
}

.box1:hover {
    h2 {
        padding-left: 30px;
        color: #00ffff;
    }
}

.last:hover {
    padding-top: 4%;

    a {
        background-color: #5221e6;
        box-shadow: 0px 5px 15px 0px #5221e6;
    }
}

.instagram {
    padding-top: 200px;
    height: 90vh;
    background: #000;
    display: flex;
}

.textpart1 {
    background-color: #fff3e4;
    padding: 100px 60px 0px 60px;

}

.textpart1 h2 {
    font-size: 55px;
    font-weight: 500;
}

.textpart1 p {
    font-size: 20px;
    font-weight: 400;
    color: #475158;
    line-height: 1.6;
    padding-bottom: 80px;
}

.imgpart1 img {
    height: 90vh;
    width: 45vw;
}

.textpart1 a {
    color: black;
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid #989c9f;
    width: fit-content;
    text-align: left;
}

.textpart1 a:hover {
    background-color: #5221e6;
    transition-duration: 300ms;
    color: white;
    padding: 10px 20px 10px 20px;
}

.dribbble {
    background-color: black;
    padding: 100px 60px;
}

.textpart2 h2 {
    color: white;
    font-size: 45px;
}

.textpart2 p {
    color: #6f777e;
    font-size: 18px;
    padding-bottom: 20px;
    word-spacing: 1px;
}

.textpart2 {
    padding-bottom: 30px;
}

.imgpart2 img {
    padding-left: 5%;
    width: 50vw;
}

.textpart2 a {
    color: white;
    padding: 10px 0px 10px 0px;
    border-bottom: 2px solid #989c9f;
    width: fit-content;
    text-align: left;
}

.textpart2 a:hover {
    background-color: #5221e6;
    transition-duration: 300ms;
    color: white;
    padding: 10px 20px 10px 20px;
}

.imgback img {
    position: sticky;
}

.imgfront .img {
    position: absolute;
}

.testimonials {
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 10%;
}

.leftpart1 a {
    color: white;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #989c9f;
    width: fit-content;
    text-align: left;
}

.leftpart1 a:hover {
    background-color: #5221e6;
    transition-duration: 300ms;
    color: white;
    padding: 10px 20px 10px 20px;
}

.rightpart1 {
    display: flex;
    flex-direction: column;
}

.box3 img {
    height: 400px;
    width: 570px;
}

.box3 {
    border: 1px solid #6f777e;
    margin: 10px;
    margin-bottom: 90px;
}

.box4 {
    height: fit-content;
    width: 450px;
    padding: 60px;
}

.leftpart1 {
    width: 90%;
    position: sticky;
    width: fit-content;
    height: fit-content;
    top: 40px;

}

.leftpart1 h2 {
    color: white;
    font-size: 55px;
    padding-bottom: 20px;
}

.leftpart1 p {
    color: #6f777e;
    font-size: 18px;
    padding-bottom: 40px;
}

.box4 p1 {
    color: White;
    font-size: 24px;
    font-weight: 600;
}

.box4 p2 {
    color: #6f777e;
    font-size: 16px;
    font-weight: 600;
}

.box4 p3 {
    color: white;
    font-size: 16px;
}

.photography {
    background-color: black;
    padding: 100px 60px;
    display: flex;
}

.collection a {
    border: 1px solid #5221e6;
    width: fit-content;
    font-weight: 700;
    margin: 10px;
    padding: 15px;
}

.country {
    padding-top: 40px;
    display: flex;
    width: fit-content;
    font-size: 20px;
    padding-bottom: 40px;
}

.shoot img {
    padding: 10px;
    width: 285px;
    height: 420px;
}

.writing h2 {
    color: white;
    font-size: 45px;
    padding-bottom: 30px;
}

.writing p {
    color: #6f777e;
    font-size: 20px;
}

.italy:hover {
    a {
        background-color: #5221e6;
    }
}

.japan:hover {
    a {
        background-color: #5221e6;
    }
}

.india:hover {
    a {
        background-color: #5221e6;
    }
}

.brazil:hover {
    a {
        background-color: #5221e6;
    }
}

.container {
    display: flex;
    gap: 5%;
    padding-top: 100px;
    padding-bottom: 200px;
    background-color: black;
}

.left {
    padding-left: 10%;
    gap: 5px;
    display: flex;
    flex-direction: column;
    width: 420px;
}

.left h1 {
    color: white;
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 30px;
}

.left p {
    color: #6f777e;
    font-size: 18px;
    width: 300px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    align-self: flex-start;
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
    font-weight: 500;
}
.right{
    padding-right: 5%;
}
input,
textarea {
    width: 450px;
    padding: 10px;
    margin-bottom: 40px;
    border: none;
    background-color: #181823;
    color: #ffffff;
}

button {
    padding: 15px 30px;
    width: 450px;
    background-color: #5221e6;
    font-weight: 600;
    border: none;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #460feb;
}

.lasta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 85px;
    padding-bottom: 20px;
}

.endbar {
    height: fit-content;
    padding-top: 100px;
    background-color: #181823;
    height: 260px;
}

.endcenter a {
    font-size: 18px;
    font-weight: 500;
}

.endbar img {
    height: 80px;
    width: auto;
    padding: 20px 0px 0 20px;
}

.endcenter {
    display: flex;
    gap: 25px;
    font-size: 14px;
    padding-top: 10px;
}

.endbar a:hover {
    color: #21d9e6;
}

.logo img {
    height: 15px;
}

.logo {
    display: flex;
}

.statement {
    display: flex;
    padding: 30px 30px 0px 70px;
}

.align {
    display: flex;
    gap: 20px;
}

.statement p {
    font-weight: 400;
    font-size: 18px;
}

.line2 {
    display: flex;
    color: white;
    gap: 700px;
    border-top: 1px solid gray;
    padding-top: 30px;
}

@media screen and (max-width: 990px) {
    .navcenter {
        padding-left: 10%;
    }

    .intro {
        position: relative;
        z-index: 2000;
        padding-left: 20%;
        padding-right: 20%;
    }

    .me img {
        position: absolute;
        height: 350px;
        width: 600px;
        margin-top: 55%;
        z-index: 1;
    }

    .intro h2 {
        position: relative;
        margin-top: 20%;
        color: white;
        font-size: 60px;
        z-index: 2;
    }

    .intro p {
        margin-top: 30px;
        color: rgb(202, 221, 221);
        font-size: 20px;
        text-align: left;
        font-weight: 450;
    }

    .skills {
        display: flex;
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 100px;
        padding: 60px;
    }

    .projects {
        padding-top: 100px;
        background-color: #000;
        padding-left: 10%;
        gap: 0%;
        display: flex;
    }

    .heading1 p {
        color: #7e8d9e;
        font-size: 14px;
        font-weight: 500;
    }

    .heading1 {
        color: white;
        font-size: 40px;
        padding-bottom: 40px;
        width: 90%;
    }

    .box1 {
        background-color: #181823;
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .box1 img {
        height: 400px;
        width: 100%;
        padding-bottom: 20px;
    }

    .box2 {
        padding: 20px 10px;
        line-height: 1.5;
        word-spacing: 0.7px;
    }

    .box2 h2 {
        color: white;
        padding-left: 10px;
        font-size: 24px;
    }

    .box2 p {
        padding: 10px;
        color: #7e8d9e;
        padding-bottom: 30px;
        font-size: 18px;
    }

    .testimonials {
        background-color: black;
        display: flex;
        gap: 60px;
    }

    .leftpart1 a {
        color: white;
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid #989c9f;
        width: fit-content;
        text-align: left;
    }

    .leftpart1 a:hover {
        background-color: #5221e6;
        transition-duration: 300ms;
        color: white;
        padding: 10px 20px 10px 20px;
    }

    .rightpart1 {
        display: flex;
        flex-direction: column;
    }

    .box3 img {
        height: 350px;
        width: 370px;
    }

    .box3 {
        border: 1px solid #6f777e;
        margin: 10px;
        margin-bottom: 90px;
    }

    .box4 {
        height: fit-content;
        width: 250px;
        padding: 60px;
    }

    .leftpart1 {
        width: 550px;
        position: sticky;
        height: fit-content;
        top: 40px;

    }

    .leftpart1 h2 {
        color: white;
        font-size: 55px;
        padding-bottom: 20px;
    }

    .leftpart1 p {
        color: #6f777e;
        font-size: 18px;
        padding-bottom: 40px;
    }

    .box4 p1 {
        color: White;
        font-size: 24px;
        font-weight: 600;
    }

    .box4 p2 {
        color: #6f777e;
        font-size: 16px;
        font-weight: 600;
    }

    .box4 p3 {
        color: white;
        font-size: 16px;
    }

    .shoot img {
        padding: 10px;
        width: 22%;
        height: 320px;
    }

    .line2 {
        display: flex;
        color: white;
        gap: 300px;
        border-top: 1px solid gray;
        padding-top: 30px;
    }

}

@media screen and (max-width: 767px) {
    .navbar {
        margin: 0px;
        display: flex;
        background-color: transparent;
        top: 0px;
        z-index: 100;
    }
    .navcenter{
        display: none;
    }
    .blackbox {
        display: none;
    }

    .greybox {
        width: max-content;
        height: fit-content;
        padding-bottom: 10%;
    }

    .heading h3 {
        font-size: 40px;
    }

    .experience {
        padding-left: 5%;
    }

    .expertise {
        display: flex;
        flex-direction: column;
    }

    .philosophy {
        display: flex;
        flex-direction: column;
    }

    .textpart {
        height: fit-content;
        padding-bottom: 5%;
    }

    .imgpart img {
        width: 100%;
        height: 60%;
        z-index: 1000;
    }

    .skillset {
        padding-top: 60%;
        display: flex;
        flex-direction: column;
    }

    .skills {
        display: flex;
        flex-direction: column;
        padding-left: 0%;
    }

    .maintext {
        width: 90%;
    }

    .box {
        width: 100%;
    }

    .projects {
        display: flex;
        flex-direction: column;
    }

    .instagram {
        display: flex;
        flex-direction: column;
    }

    .textpart1 {
        padding-bottom: 5%;
    }

    .imgpart1 img {
        width: 100%;
        height: 400px;
    }

    .dribbble {
        padding-top: 250px;
    }

    .testimonials {
        display: flex;
        flex-direction: column;
    }

    .leftpart1 {
        width: 90%;
        position: relative;
        height: fit-content;
        top: 40px;
    }

    .box3 img {
        width: 100%;
    }

    .box3 {
        width: 100%;
    }

    .box4 {
        padding: 5%;
        width: 90%;
    }

    .photography {
        padding: 0%;
    }

    .collection a {
        border: 1px solid #5221e6;
        width: 90%;
        font-weight: 700;
    }

    .writing {
        padding: 5%;
    }

    .country {
        padding-top: 40px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 30%;
        font-size: 20px;
        padding-bottom: 40px;
    }

    .shoot {
        padding: 0%;
    }

    .shoot img {
        flex-wrap: wrap;
        width: 90%;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: none;
    }
    .left{
        width: 90%;
        padding: 5%;
        margin-bottom:5%;
    }
    label {
        align-self: flex-start;
        padding-left: 5%;
        font-size: 18px;
        margin-bottom: 5px;
        color: white;
        font-weight: 500;
    }

    input,
    textarea {
        width:90%;
        padding: 10px;
        margin-bottom: 40px;
        border: none;
        background-color: #181823;
        color: #ffffff;
    }
    button {
        padding: 15px 30px;
        width: 80%;
        background-color: #5221e6;
        font-weight: 600;
        border: none;
        color: #fff;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .endbar{
        height: fit-content;
        padding-bottom: 15px;
    }
    .lasta a{
        font-size: 90%;
        padding-left: 5%;
    }
    .statement p {
        font-weight: 400;
        font-size: 60%;
    }

    .line2 {
        display: flex;
        color: white;
        gap: 5%;
        border-top: 1px solid gray;
    }
    .endbar{
        padding-top: 5%;
    }
    .lasta{
        display: flex;
        flex-direction: column;
    }
}